//Customized Bootstrap variables

$display4-weight:             300;
$headings-font-weight:        300;
$headings-font-family: 'Antic Didone', serif;

$card-border-radius: 0;
$card-border-width: 0px;

//Include all of Bootstrap

@import "node_modules/bootstrap/scss/bootstrap";

// My variables

// this variable name is a bit confusing - rename to btn-secondary-bg
$secondary-bg: #fff;

$purple: hsl(270, 100%, 80%);
$blue: hsl(210, 100%, 80%);
$mint: hsl(150, 100%, 80%);
$soft-black: hsl(0,0,10%);
$white: hsl(0,0,100%);

$purple-transparent: hsla(270, 100%, 80%, 0.9);
$blue-transparent: hsla(210, 100%, 80%, 0.9);
$mint-transparent: hsla(150, 100%, 80%, 0.9);

$body-bg:                   $white;
$body-color:                $white;
$link-color:                $body-color;


//----------CUSTOM CSS-------------

// General styles
html {
  scroll-behavior: smooth;
}


body {
  background-color: $soft-black;
  background-image: url(img/bg-4.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: $body-color;
}


//Navbar

.nav-brand {
  font-size: 24px;
  text-decoration: none;
  color: $link-color;
}

.nav-brand:hover {
  font-size: 24px;
  text-decoration: none;
}

nav a {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: $link-color;
}

.my-hover:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ffffff' stroke-width='0.8' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
  padding-bottom: 4px;
  color: $link-color;
}

//Projects Gallery

.my-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-overlay p {
  margin: 0;
}

.my-overlay a {
  display: none;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  padding: 20px 30px;
  background-color: #fff;
  margin: 0;
}

.my-overlay a:hover {
  text-decoration: none;
}


//Social Icons

#contact a:first-of-type {
  color: $blue;
}

#contact a:nth-of-type(2) {
  color: $mint;
}

#contact a:nth-of-type(3) {
  color: $purple;
}

#contact a:nth-of-type(4) {
  color: $mint;
}

i:hover {
  transform: scale(1.1);
}

/* DEMO 4 ============================== */

/* DEMO GENERAL ============================== */
.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}

.hover-4 img {
  width: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hover-4 .hover-overlay {
  background: rgba(0, 0, 0, 0.4);
  z-index: 90;
}

.hover-4-title {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3rem;
  z-index: 99;
}

.hover-4-description {
  position: absolute;
  top: 2rem;
  left: 2rem;
  text-align: right;
  border-right: 3px solid #fff;
  padding: 0 1rem;
  z-index: 99;
  transform: translateX(-1.5rem);
  opacity: 0;
  transition: all 0.3s;
}

@media (min-width: 992px) {
  .hover-4-description {
    width: 50%;
  }
}

.hover-4:hover img {
  width: 100%;
}

.hover-4:hover::after {
  opacity: 1;
  transform: none;
}

.hover-4:hover .hover-4-description {
  opacity: 1;
  transform: none;
}

.hover-4:hover .hover-overlay {
  background: rgba(0, 0, 0, 0.8);
}



//Email Me Button

.button {
  background-color: $secondary-bg;
  text-transform: uppercase;
  border: 2px solid $soft-black;
  padding: 10px 30px;
}

.button:hover {
  background-color: pink;
  color: magenta;
  border-color: magenta;
  cursor: url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/237/sparkling-heart_1f496.png), auto;
}
